{% extends 'base.html' %}

{% load static %}

{% load humanize %}


{% block title %}
 | 主页
{% endblock %}

{% block content %}
   <section class="call-to-action">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="main-content" background>
              <div class="row">
                
                  <font color="white">
                  <h1 style="text-align:center">人气教师</h1>
                  </font>
                
               
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

  <!-- Banner Starts Here -->
    <div class="main-banner header-text">
      <div class="container">
        <div class="owl-banner owl-carouse">
          
          {% for listing,stars in bestteachers%}
          <div class="item">
            <img src="{{listing.photo.url}}" height='350' width='280' alt="">
            <div class="item-content">
              <div class="main-content">
                <div class="meta-category">
                  <span>{{listing.rank}}</span>
                </div>
                <a href="{% url 'teacherlisting' listing.id %}"><h4>{{listing.name}} ⭐{{stars|floatformat:1}}</h4></a>
                <ul class="post-info">
                  <li><a href="#">{{listing.dept}}</a></li>
                </ul>
              </div>
            </div>
          </div>
          {%endfor%}
         

        </div>
      </div>
    </div>
    <!-- Banner Ends Here -->

   
     <section class="call-to-action">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="main-content" background>
              <div class="row">
                
                  <font color="white">
                  <h1 style="text-align:center">课程与评价</h1>
                  </font>
                
               
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


    <section class="blog-posts">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <div class="all-blog-posts">
              <div class="row">
                
                {%for listing,stars in bestcourses%}
                <div class="col-lg-12">
                  <div class="blog-post">
                    
                    <div class="down-content">
                      <a href="{% url 'courselisting' listing.id %}"><h4>{{listing.name}}</h4></a>
                      <span>{{listing.teacher.name}} {{listing.typeofcourse}} {{listing.credits}}学分 ⭐{{stars}}</span>
                      
                      <ul class="post-info">
                            <li>{{listing.coursetime}}</li>
                            <li>{{listing.courseacademy}}</li>
                      </ul>
                      <p class="abstract">{{listing.description}}</p>
                      
                    </div>
                  </div>
                </div>

              {%endfor%}

                <div class="col-lg-12">
                  <div class="main-button">
                    <a href="{%url 'courses'%}">查看所有课程</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="sidebar">
              <div class="row">
               
                <div class="col-lg-12">
                  <div class="sidebar-item recent-posts">

                    <div class="sidebar-heading">
                      <h2>最近教师评价</h2>
                    </div>

                    <div class="content">
                      <ul>
                        {% for tcomment in latesttcomments %}
                        <li><a href="{% url 'teacherlisting' tcomment.teacher_id %}">
                          <h5>{{tcomment.message}}</h5>
                          <span>{{tcomment.comment_date}} , 对{{tcomment.teacher_name}}的评价 ⭐{{tcomment.stars}}</span>
                        </a></li>
                        {%endfor%}
                        

                      </ul>
                    </div>
                  <br></br><br></br>
                  <div class="sidebar-heading">
                      <h2>最近课程评价</h2>
                    </div>

                    <div class="content">
                      <ul>
                       {% for ccomment in latestccomments %}
                        <li><a href="{% url 'courselisting' ccomment.course_id %}">
                          <h5>{{ccomment.message}}</h5>
                          <span>{{ccomment.comment_date}} , 对{{ccomment.course_name}}的评价 ⭐{{ccomment.stars}}</span>
                        </a></li>
                        {%endfor%}

                      </ul>
                    </div>

                  </div>

                  </div>
                
                

                </div>
               
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

{% endblock %}

