{% extends 'base.html' %}

{% load static %}

{% load humanize %}

{% block title %}
 | {{listing.name}}
{% endblock %}

{% block content %}
    {% include 'partials/_alerts.html' %}
   <section class="blog-posts grid-system">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <div class="all-blog-posts">
              <div class="row">
                <div class="col-lg-12">
                  <div class="blog-post">
                   
                    <div class="down-content">
                      
                      <a href="#"><h4>{{listing.name}}</h4></a>
                      <span>{{listing.teacher.name}} {{listing.typeofcourse}} {{listing.credits}}学分 </span>
                      <ul class="post-info">
                            <li>{{listing.coursetime}}</li>
                            <li>{{listing.courseacademy}}</li>
                      </ul>
                      <br></br>
                      <h4><a href={% url 'teacherlisting' listing.teacher.id %}>教师详细信息</a></h4>
                      <br></br>
                      <h4>上课地点</h4>
                      <p>{{listing.campus}}</p>
                      <br></br>
                      <h4>课程简介</h4>
                      <p>{{listing.description}}</p>
                      
                      


                      <div class="post-options">
                        
                      </div>
                    </div>
                  </div>
                </div>


                <div class="col-lg-12">
                  <div class="sidebar-item comments">
                    <div class="sidebar-heading">
                      <h2>{{commentcounts}} 条评价  {{avgscore|floatformat:2}}⭐</h2>
                    </div>
                    <div class="content">
                      <ul>
                        {% for comment in comments%}
                        <li>
                          <div class="right-content">
                            <h4>{{comment.user_name}}  {{comment.stars}}⭐<span>{{comment.comment_date}}
                            
                            {% if user.id == comment.user_id%}

                            <a id="h-submitBtn" onclick="document.getElementById('delccomment').submit();">删除</a>
                            <form id="delccomment" action="{% url 'delccomment' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="user_id" value="{{user.id}}"></input>
                            <input type="hidden" name="course_id" value="{{listing.id}}"></input>
                            </form>

                            {% endif %}
                            </span>
                            </h4>
                            <p>{{comment.message}}</p>
                          </div>
                        </li>
                        {% endfor %}
                      </ul>
                    </div>
                  </div>
                </div>

                <div class="col-lg-12">
                  <div class="sidebar-item submit-comment">
                    <div class="sidebar-heading">
                      <h2>评价</h2>
                    </div>

                    {% if user.is_authenticated %}
                        

                        <div class="content">
                        <form id="comment" action="{% url 'ccomment' %}" method="post">
                        {% csrf_token %}
                            <input type="hidden" name="user_id" value="{{user.id}}">
                            <input type="hidden" name="user_name" value="{{user.username}}">
                            <input type="hidden" name="course_id" value="{{listing.id}}">
                            <input type="hidden" name="course_name" value="{{listing.name}}">
                            <div class="row">
                            <h4 style="margin-left: 25px;">满意度</h4>
                            <div class="rating">
                                <input type="radio" id="star5" name="rating" value="5" /><label for="star5"></label>
                                <input type="radio" id="star4" name="rating" value="4" /><label for="star4"></label>
                                <input type="radio" id="star3" name="rating" value="3" /><label for="star3"></label>
                                <input type="radio" id="star2" name="rating" value="2" /><label for="star2"></label>
                                <input type="radio" id="star1" name="rating" value="1" /><label for="star1"></label>
                            </div>
                                
              
                            <div class="col-lg-12">
                                <fieldset>
                                <textarea name="message" rows="6" id="message" placeholder="请输入评论，每个用户只能对每个课程评价一次，若之前评论过该评价将会覆盖掉之前的评价" required=""></textarea>
                                </fieldset>
                            </div>

                            <div class="col-lg-12">
                                <fieldset>
                                <button type="submit" id="form-submit" class="main-button">Submit</button>
                                </fieldset>
                            </div>
                            </div>
                        </form>
                        </div>
                    {% else %}
                        <h3>您需要登录后才能发表评价</h3> 
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
    



{% endblock %}
